@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  /* background-color: blue; */
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  font-weight: bold;
  transition: 0.5s;
}

/* ||navigation|| */
.nav {
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 0.01rem solid gray;
}
.nav-brand-name {
  font-weight: bold;
}
.nav-links {
  display: flex;
}
.nav-link {
  margin: 0 1rem;
}

/* || content || */
.content {
  display: flex;
  flex: 1;
}

/* || aside || */
.aside {
  flex: 1;
  padding: 1rem;
  /* background-color: yellow; */
  border-right: 00.01rem solid gray;
}
.aside-heading {
  font-size: 1.4rem;
}
.aside-list {
  margin-top: 1rem;
}

/* || article || */
.article {
  flex: 4;
  padding: 1rem;
  /* background-color: orange; */
}
