.alert {
  display: flex;
  flex-basis: 90%;
  align-items: center;
  justify-content: flex-start;
  gap: var(--sp-fractions3);
  padding: var(--sp-tens2);
  border-radius: var(--sp-fractions2);
  color: var(--clr-alert-primary);
  background-color: var(--clr-alert-primary-bg);
}

/* || Default Alert || */
.alert.primary {
  color: var(--clr-alert-primary);
  background-color: var(--clr-alert-primary-bg);
}

.alert.secondary {
  color: var(--clr-alert-secondary);
  background-color: var(--clr-alert-secondary-bg);
}

.alert.success {
  color: var(--clr-alert-success);
  background-color: var(--clr-alert-success-bg);
}

.alert.warning {
  color: var(--clr-alert-warning);
  background-color: var(--clr-alert-warning-bg);
}

.alert.error {
  color: var(--clr-alert-error);
  background-color: var(--clr-alert-error-bg);
}

.alert.info {
  color: var(--clr-alert-info);
  background-color: var(--clr-alert-info-bg);
}

/* || Outline Alert || */
.alert.primary-outline {
  color: var(--clr-alert-primary);
  border: 1px solid var(--clr-alert-primary);
  background-color: var(--clr-white);
}

.alert.secondary-outline {
  color: var(--clr-black);
  border: 1px solid var(--clr-black);
  background-color: var(--clr-white);
}

.alert.success-outline {
  color: var(--clr-alert-success);
  border: 1px solid var(--clr-alert-success);
  background-color: var(--clr-white);
}

.alert.warning-outline {
  color: var(--clr-alert-warning);
  border: 1px solid var(--clr-alert-warning);
  background-color: var(--clr-white);
}

.alert.error-outline {
  color: var(--clr-alert-error);
  border: 1px solid var(--clr-alert-error);
  background-color: var(--clr-white);
}

.alert.info-outline {
  color: var(--clr-alert-info);
  border: 1px solid var(--clr-alert-info);
  background-color: var(--clr-white);
}

/* || Alert with text link || */
.alert-link {
  color: inherit;
}
.alert-link:hover {
  font-weight: var(--fwt-bold);
  transition: font-weight 0.3s;
}

/* || Alert with close button || */
.btn-alert-close {
  margin-left: auto;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: var(--f-tens4);
}
.btn-alert-close:hover {
  color: var(--clr-alert-close-hover);
  transition: color 0.3s;
}
