.avatar {
  display: flex;
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  object-fit: cover;
}

.square {
  border-radius: 7%;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
}

.x-sm {
  width: 2.4rem;
  height: 2.4rem;
}

.sm {
  width: 4.8rem;
  height: 4.8rem;
}

.md {
  width: 6.4rem;
  height: 6.4rem;
}

.lg {
  width: 8rem;
  height: 8rem;
}

.x-lg {
  width: 9.6rem;
  height: 9.6rem;
}
