.avatar {
  display: flex;
  width: var(--sp-sixtys);
  height: var(--sp-sixtys);
  border-radius: 50%;
  object-fit: cover;
}

.square {
  border-radius: var(--br-1);
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
}

.x-sm {
  width: var(--sp-twentys);
  height: var(--sp-twentys);
}

.sm {
  width: var(--sp-fourtys);
  height: var(--sp-fourtys);
}

.md {
  width: var(--sp-sixtys);
  height: var(--sp-sixtys);
}

.lg {
  width: var(--sp-eightys);
  height: var(--sp-eightys);
}

.x-lg {
  width: var(--sp-ninetys);
  height: var(--sp-ninetys);
}
