.container-badge {
  width: max-content;
  height: max-content;
  position: relative;
}

.badge-status {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--clr-online);
  border: 2px solid var(--clr-white);
  position: absolute;
  bottom: 0;
  right: 0;
}

.badge-status.online {
  background-color: var(--clr-online);
}

.badge-status.offline {
  background-color: var(--clr-offline);
}

.badge-status.idle {
  background-color: var(--clr-idle);
}

.badge-status.dnd {
  background-color: var(--clr-dnd);
}

.badge-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--sp-tens2);
  height: var(--sp-tens2);
  border-radius: 50%;
  color: var(--clr-white);
  background-color: var(--clr-dnd);
  position: absolute;
  top: 0;
  right: 0;
}

.container-badge > i {
  font-size: var(--f-fourtys);
}
