.container-badge {
  width: max-content;
  height: max-content;
  position: relative;
}

.badge-status {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--online);
  border: 2px solid var(--white);
  position: absolute;
  bottom: 0;
  right: 0;
}

.badge-status.online {
  background-color: var(--online);
}

.badge-status.offline {
  background-color: var(--offline);
}

.badge-status.idle {
  background-color: var(--idle);
}

.badge-status.dnd {
  background-color: var(--dnd);
}

.badge-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  color: var(--white);
  background-color: var(--dnd);
  position: absolute;
  top: 0;
  right: 0;
}

.container-badge > i {
  font-size: 3rem;
}
