.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 33rem;
  padding: var(--sp-fractions2);
  border: 1px solid var(--card-border);
  border-radius: var(--br-1);
  gap: var(--sp-tens1);
  background-color: var(--white);
}

.card-container.horizontal {
  flex-direction: row;
  width: 66rem;
  align-items: center;
}

.card-container.shadow {
  box-shadow: 0 4px 8px 0 var(--card-shadow-1),
    0 6px 2rem 0 var(--card-shadow-2);
}

.card-container > .btn-icon {
  color: var(--card-dismiss);
  position: absolute;
  top: var(--sp-tens2);
  right: var(--sp-tens2);
  font-size: var(--f-twentys2);
  z-index: 1;
}
.card-container > .btn-icon:hover {
  color: var(--black);
  transition: color 0.3s;
}

.card-badge {
  position: absolute;
  top: var(--sp-tens2);
  left: 0;
  z-index: 1;
  color: var(--white);
  background-color: var(--primary);
  font-size: var(--f-tens3);
  padding: var(--sp-fractions2);
  border-radius: 0 var(--br-2) var(--br-2) 0;
}

.text-overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--f-twentys2);
  color: var(--white);
  background-color: var(--text-overlay-bg);
  padding: var(--sp-fractions2);
  border-radius: var(--br-1);
  text-align: center;
}

.card-image-container {
  height: 32rem;
  width: 32rem;
  position: relative;
}

.card-image {
  height: 32rem;
  width: 32rem;
  border-radius: var(--br-1);
  object-fit: cover;
  border: 1px solid var(--card-img-border);
}

.rating-badge-container {
  position: absolute;
  left: var(--sp-fractions2);
  bottom: var(--sp-fractions2);
}

.overlay {
  opacity: 0.5;
}

.card-details-container {
  display: flex;
  flex-direction: column;
  padding: var(--sp-tens1);
  gap: var(--sp-tens2);
}

.card-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-details-header > button {
  font-size: var(--f-thirtys1);
}
.card-details-header > button:hover {
  color: var(--wishlist-hover);
  transition: color 0.3s;
}

.card-text-container > h1 {
  font-size: var(--f-tens5);
}

.card-price-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  gap: var(--sp-tens1);
}

.card-price {
  font-size: var(--f-thirtys1);
  font-weight: bold;
}

.card-price-old {
  text-decoration: line-through;
}

.card-price-offer {
  color: var(--card-offer);
  font-weight: bold;
}

.card-button-container {
  display: flex;
  flex-direction: column;
  gap: var(--sp-fractions-2);
}
