<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link href="/docs/docs.css" rel="stylesheet" type="text/css" />
    <link href="card.css" rel="stylesheet" type="text/css" />
    <title>Minnal UI</title>
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-brand-name">
          <a href="/index.html" class="link nav-link">Minnal UI</a>
        </div>
        <ul class="nav-contacts">
          <li class="list">
            <a href="https://github.com/VishnuVNairCodes" target="_blank">
              <i class="bi bi-github nav-contact-link"></i
            ></a>
          </li>
          <li class="list">
            <a href="https://twitter.com/vishnyou" target="_blank">
              <i class="bi bi-twitter nav-contact-link"></i
            ></a>
          </li>
          <li class="list">
            <a
              href="https://www.linkedin.com/in/vishnu-v-nair-96178b130/"
              target="_blank"
            >
              <i class="bi bi-linkedin nav-contact-link"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <aside class="aside">
          <ul>
            <li class="list aside-list">
              <a class="link" href="/docs/installation.html">Installation</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/avatar.html">Avatar</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/alert.html">Alert</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/badge.html">Badge</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/button.html">Button</a>
            </li>
            <li class="list aside-list">
              <a class="link link-active" href="/components/card.html">Card</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/image.html">Image</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/input.html">Input</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/typography.html"
                >Text Utilities</a
              >
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/list.html">Lists</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/navigation.html">Navigation</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/modal.html">Modal</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/rating.html">Rating</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/toast.html">Toast</a>
            </li>
            <!-- <li class="list aside-list">
              <a class="link" href="/components/grid.html">Grid</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/slider.html">Slider</a>
            </li> -->
          </ul>
        </aside>
        <main class="main">
          <h1>Card</h1>
          <div class="inner-container">
            <h2>Text only Card</h2>
            <div class="showcase">
              <div class="card-container">
                <div class="card-details-container">
                  <div class="card-details-header">
                    <div class="card-text-container">
                      <h1 class="card-text-heading">Ithikkara Pakki</h1>
                      <p class="card-text-description">
                        Ithikkara Pakki was an Indian outlaw who lived in the
                        Travancore Kingdom in the 19th century. He is said to
                        have plundered from the rich and distributed to the
                        poor. He is said to have moved as swiftly as a bird or
                        butterfly, meaning Pakki in Malayalam, hence he was
                        known by the name Ithikkara Pakki. Legends on him are
                        part of the folklore of Kerala where he is represented
                        as a heroic outlaw. Stories about him often include his
                        friend and fellow bandit Kayamkulam Kochunni.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/iTLhNd2gjUidbsZaCtyX"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Card with Dismiss</h2>
            <div class="showcase">
              <div class="card-container">
                <button class="btn-icon">
                  <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="card-details-container">
                  <div class="card-details-header">
                    <div class="card-text-container">
                      <h1 class="card-text-heading">Thacholi Chandu</h1>
                      <p class="card-text-description">
                        Thacholi Chandu was a warrior and a legendary hero who
                        is believed to have lived during 17th century in North
                        Malabar region of Kerala, India. He belonged to the
                        Thacholi family. He is praised about in Vadakkan
                        Pattukal (ballads of North Malabar). He is known for
                        conquering the Thulunadan fort which is a feat even his
                        legendary uncle Thacholi Othenan couldn't accomplish.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/Qe6VlM2OdOUc23E2qJM9"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Card with Badge</h2>
            <div class="showcase">
              <div class="card-container">
                <div class="card-badge">Best Seller</div>
                <button class="btn-icon">
                  <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="card-image-container">
                  <img class="card-image" src="/legion5.jpg" alt="card" />
                  <div class="rating-badge-container">
                    <span class="rating-badge-value">4.8</span>
                    <span class="rating-badge-icon"
                      ><i class="fa-solid fa-star"></i
                    ></span>
                    <span class="rating-badge-number">
                      <span class="rating-badge-separator">|</span>
                      224</span
                    >
                  </div>
                </div>
                <div class="card-details-container">
                  <div class="card-details-header">
                    <div class="card-text-container">
                      <h1 class="card-text-heading">Lenovo Legion 5</h1>
                      <p class="card-text-description">
                        The best laptop in the world
                      </p>
                    </div>
                    <button class="btn-icon">
                      <i class="fa-solid fa-heart"></i>
                    </button>
                  </div>
                  <div class="card-price-container">
                    <p class="card-price">Rs.68,000</p>
                    <p class="card-price-old">Rs.91,000</p>
                    <p class="card-price-offer">25% off</p>
                  </div>
                  <div class="card-button-container">
                    <button class="btn btn-primary">
                      <i class="fa-solid fa-cart-plus"></i>Add to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/5m3m9Vdizd1WyGp5Y8Fx"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Card with Shadow</h2>
            <div class="showcase">
              <div class="card-container shadow">
                <div class="card-badge">Best Seller</div>
                <button class="btn-icon">
                  <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="card-image-container">
                  <img class="card-image" src="/legion5.jpg" alt="card" />
                  <div class="rating-badge-container">
                    <span class="rating-badge-value">4.8</span>
                    <span class="rating-badge-icon"
                      ><i class="fa-solid fa-star"></i
                    ></span>
                    <span class="rating-badge-number">
                      <span class="rating-badge-separator">|</span>
                      224</span
                    >
                  </div>
                </div>
                <div class="card-details-container">
                  <div class="card-details-header">
                    <div class="card-text-container">
                      <h1 class="card-text-heading">Lenovo Legion 5</h1>
                      <p class="card-text-description">
                        The best laptop in the world
                      </p>
                    </div>
                    <button class="btn-icon">
                      <i class="fa-solid fa-heart"></i>
                    </button>
                  </div>
                  <div class="card-price-container">
                    <p class="card-price">Rs.68,000</p>
                    <p class="card-price-old">Rs.91,000</p>
                    <p class="card-price-offer">25% off</p>
                  </div>
                  <div class="card-button-container">
                    <button class="btn btn-primary">
                      <i class="fa-solid fa-cart-plus"></i>Add to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/XtzzRU2DiFdTTwxlvV1H"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Card with Text Overlay</h2>
            <div class="showcase">
              <div class="card-container shadow overlay">
                <div class="card-image-container">
                  <img class="card-image" src="/legion5.jpg" alt="card" />
                  <div class="rating-badge-container">
                    <span class="rating-badge-value">4.8</span>
                    <span class="rating-badge-icon"
                      ><i class="fa-solid fa-star"></i
                    ></span>
                    <span class="rating-badge-number">
                      <span class="rating-badge-separator">|</span>
                      224</span
                    >
                  </div>
                  <p class="text-overlay">Out of Stock</p>
                </div>
                <div class="card-details-container">
                  <div class="card-details-header">
                    <div class="card-text-container">
                      <h1 class="card-text-heading">Lenovo Legion 5</h1>
                      <p class="card-text-description">
                        The best laptop in the world
                      </p>
                    </div>
                    <button class="btn-icon">
                      <i class="fa-solid fa-heart"></i>
                    </button>
                  </div>
                  <div class="card-price-container">
                    <p class="card-price">Rs.68,000</p>
                    <p class="card-price-old">Rs.91,000</p>
                    <p class="card-price-offer">25% off</p>
                  </div>
                  <div class="card-button-container">
                    <button class="btn btn-primary">
                      <i class="fa-solid fa-cart-plus"></i>Add to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/h6Ki23Wy52spxsub2SY5"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Horizontal Card</h2>
            <div class="showcase">
              <div class="card-container shadow horizontal">
                <div class="card-badge">Best Seller</div>
                <button class="btn-icon">
                  <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="card-image-container">
                  <img class="card-image" src="/legion5.jpg" alt="card" />
                </div>
                <div class="card-details-container">
                  <div class="card-details-header">
                    <div class="card-text-container">
                      <h1 class="card-text-heading">Lenovo Legion 5</h1>
                      <p class="card-text-description">
                        The best laptop in the world
                      </p>
                    </div>
                    <button class="btn-icon">
                      <i class="fa-solid fa-heart"></i>
                    </button>
                  </div>
                  <div class="card-price-container">
                    <p class="card-price">Rs.68,000</p>
                    <p class="card-price-old">Rs.91,000</p>
                    <p class="card-price-offer">25% off</p>
                  </div>
                  <div class="card-button-container">
                    <button class="btn btn-primary">
                      <i class="fa-solid fa-cart-plus"></i>Add to Cart
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/5KDFAGf7j357sFgbGsKR"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
