/* || textbox || */
.textbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--sp-fractions3);
  width: 80%;
}

.textbox {
  width: 100%;
  padding: var(--sp-fractions3);
  border-style: solid;
  border-color: var(--input-border);
  border-radius: var(--br-1);
  outline-color: var(--primary);
}

.textbox.success {
  border-color: var(--success);
  outline-color: var(--success);
}

.textbox.warning {
  border-color: var(--warning);
  outline-color: var(--warning);
}

.textbox.error {
  border-color: var(--danger);
  outline-color: var(--danger);
}

.msg-validation {
  font-size: var(--f-tens2);
}

.msg-validation.success {
  color: var(--success);
}

.msg-validation.warning {
  color: var(--warning);
}

.msg-validation.error {
  color: var(--danger);
}

/* || Textbox with Icon || */
.textbox-icon-container {
  display: flex;
  background-color: var(--white);
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--sp-fractions3) var(--sp-tens1);
  gap: var(--sp-tens2);
  border: 1px solid var(--black);
  border-radius: var(--br-1);
}

.textbox-icon-container > .textbox {
  border: none;
  padding: 0;
  font-size: var(--f-tens2);
}

/* || checkbox || */
.checkbox-container,
.radio-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--sp-fourtys);
}

.checkbox-container > label,
.radio-container > label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp-tens2);
}

.checkbox,
.radio {
  width: var(--sp-twentys2);
  height: var(--sp-twentys2);
}
