<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link href="/docs/docs.css" rel="stylesheet" type="text/css" />
    <link href="input.css" rel="stylesheet" type="text/css" />
    <title>Minnal UI</title>
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-brand-name">
          <a href="/index.html" class="link nav-link">Minnal UI</a>
        </div>
        <ul class="nav-contacts">
          <li class="list">
            <a href="https://github.com/VishnuVNairCodes" target="_blank">
              <i class="bi bi-github nav-contact-link"></i
            ></a>
          </li>
          <li class="list">
            <a href="https://twitter.com/vishnyou" target="_blank">
              <i class="bi bi-twitter nav-contact-link"></i
            ></a>
          </li>
          <li class="list">
            <a
              href="https://www.linkedin.com/in/vishnu-v-nair-96178b130/"
              target="_blank"
            >
              <i class="bi bi-linkedin nav-contact-link"></i
            ></a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <aside class="aside">
          <ul>
            <li class="list aside-list">
              <a class="link" href="/docs/installation.html">Installation</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/avatar.html">Avatar</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/alert.html">Alert</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/badge.html">Badge</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/button.html">Button</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/card.html">Card</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/image.html">Image</a>
            </li>
            <li class="list aside-list">
              <a class="link link-active" href="/components/input.html"
                >Input</a
              >
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/typography.html"
                >Text Utilities</a
              >
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/list.html">Lists</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/navigation.html">Navigation</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/modal.html">Modal</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/rating.html">Rating</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/toast.html">Toast</a>
            </li>
            <!-- <li class="list aside-list">
              <a class="link" href="/components/grid.html">Grid</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/slider.html">Slider</a>
            </li> -->
          </ul>
        </aside>
        <main class="main">
          <h1>Input</h1>
          <div class="inner-container">
            <h2>Textbox</h2>
            <div class="showcase">
              <div class="textbox-container">
                <label>Username *</label>
                <input type="text" class="textbox" />
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/4NGKpQFpWxk6BID1WIjG"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Textbox with validation (Success)</h2>
            <div class="showcase">
              <div class="textbox-container">
                <label>Password *</label>
                <input type="text" class="textbox success" />
                <p class="msg-validation success">Strong Password</p>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/b03zwhbX35SiHjoT8mtY"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Textbox with validation (Warning)</h2>
            <div class="showcase">
              <div class="textbox-container">
                <label>Password *</label>
                <input type="text" class="textbox warning" />
                <p class="msg-validation warning">Weak Password</p>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/fiNgdBQVjsILRcqur87E"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Textbox with validation (Error)</h2>
            <div class="showcase">
              <div class="textbox-container">
                <label>Email *</label>
                <input type="text" class="textbox error" />
                <p class="msg-validation error">Invalid Email</p>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/vrgU0t7i7xf5jEKZqlIH"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Textbox with Icon</h2>
            <div class="showcase">
              <div class="textbox-icon-container">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search" class="textbox" />
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/qzu5oX8hcgZv5EPF1Gb0"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Checkbox</h2>
            <div class="showcase">
              <div class="checkbox-container">
                <label>
                  <input type="checkbox" class="checkbox" />Unchecked
                </label>
                <label>
                  <input type="checkbox" class="checkbox" checked />Checked
                </label>
                <label>
                  <input type="checkbox" class="checkbox" disabled />Disabled
                </label>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/bo9IXsiepbRCuNAt3fY7"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Radio Button</h2>
            <div class="showcase">
              <div class="radio-container">
                <label>
                  <input type="radio" name="sample" class="radio" />Unchecked
                </label>
                <label>
                  <input
                    type="radio"
                    name="sample"
                    class="radio"
                    checked
                  />Checked
                </label>
                <label>
                  <input
                    type="radio"
                    name="sample"
                    class="radio"
                    disabled
                  />Disabled
                </label>
              </div>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/UlrC9O5cIqQpyIaZMNeG"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
