.list-ordered,
.list-unordered,
.list-stacked {
  display: flex;
  flex-direction: column;
  gap: var(--sp-tens2);
}

.list-stacked {
  list-style: none;
  gap: 0;
  background-color: var(--stacked-list-bg);
  border: 1px solid var(--stacked-list-border);
}

.list-stacked-heading {
  padding: var(--sp-fractions3);
}

.list-stacked-item {
  padding: var(--sp-twentys);
  border-top: 1px solid var(--stacked-list-border);
  cursor: pointer;
}

.list-stacked-item:hover {
  background-color: var(--stacked-list-hover);
  transition: background-color 0.3s;
}
