<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link href="/docs/docs.css" rel="stylesheet" type="text/css" />
    <link href="list.css" rel="stylesheet" type="text/css" />
    <title>Get Started</title>
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-brand-name">
          <a href="/index.html" class="link nav-link">Minnal UI</a>
        </div>
        <ul class="nav-links">
          <li class="list">
            <a href="/docs/docs.html" class="link nav-link">Docs</a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <aside class="aside">
          <ul>
            <li class="list aside-list">
              <a class="link" href="/components/avatar.html">Avatar</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/alert.html">Alert</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/badge.html">Badge</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/button.html">Button</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/card.html">Card</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/image.html">Image</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/input.html">Input</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/typography.html"
                >Text Utilities</a
              >
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/list.html">Lists</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/navigation.html">Navigation</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="components/modal.html">Modal</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="components/rating.html">Rating</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="components/toast.html">Toast</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="components/simplifiedgrid.html"
                >Simplified Grid</a
              >
            </li>
          </ul>
        </aside>
        <article class="article">
          <h1>List</h1>
          <div class="inner-container">
            <h2>Unordered List</h2>
            <div class="showcase">
              <ul class="list-unordered">
                <h4>Categories</h4>
                <li>Women's clothing</li>
                <li>Men's clothing</li>
                <li>Children's clothing</li>
                <li>Baby's clothing</li>
              </ul>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/67h4GUudqrWvRQgNbtXi"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Ordered List</h2>
            <div class="showcase">
              <ol class="list-ordered">
                <h4>Categories</h4>
                <li>Women's clothing</li>
                <li>Men's clothing</li>
                <li>Children's clothing</li>
                <li>Baby's clothing</li>
              </ol>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/67h4GUudqrWvRQgNbtXi"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Stacked List</h2>
            <div class="showcase">
              <ol class="list-stacked">
                <h6 class="list-stacked-heading">Notifications</h6>
                <li class="list-stacked-item">
                  Nikola Tesla, James Clerk Maxwell and Niels Bohr commented on
                  your photo
                </li>
                <li class="list-stacked-item">
                  Benedict Augustin Morel and Louis Neel had birthdays on
                  November 22
                </li>
                <li class="list-stacked-item">
                  Max Planck, Thomas Edison and 33 other people like your photo
                </li>
                <li class="list-stacked-item">
                  Carl Sagan, Neil deGrasse Tyson and 2 others posted in
                  Astrotalks
                </li>
                <li class="list-stacked-item">
                  Marie Curie changed the time of her event Nobel Afterparty
                </li>
                <li class="list-stacked-item">
                  Erwin Schrodinger invited you to his event Box opening in
                  Cat's Group
                </li>
              </ol>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/67h4GUudqrWvRQgNbtXi"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </article>
      </div>
    </div>
  </body>
</html>
