.modal-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 2rem 0;
  width: 50%;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  align-items: center;
  padding: 0 2rem 1rem 2rem;
}

.modal-close {
  margin-left: auto;
  color: var(--secondary);
}
.modal-close:hover {
  color: var(--black);
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-text {
  padding: 0 2rem 1rem 2rem;
}

.modal-button-container {
  display: flex;
  margin-left: auto;
  padding: 0 2rem 1rem 2rem;
  gap: 10px;
}
