.modal-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: var(--sp-thirtys) 0;
  width: 50%;
  border-radius: var(--br-2);
}

.modal-header,
.modal-text,
.modal-button-container {
  padding: 0 var(--sp-thirtys) var(--sp-tens2) var(--sp-thirtys);
}

.modal-header {
  display: flex;
  align-items: center;
}

.modal-close {
  margin-left: auto;
  color: var(--secondary);
}
.modal-close:hover {
  color: var(--black);
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-button-container {
  display: flex;
  margin-left: auto;
  gap: var(--sp-tens1);
}
