.navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--sp-eightys);
  background-color: var(--white);
}

.navigation-bar {
  display: flex;
  width: 83%;
  padding: var(--sp-tens1);
  align-items: center;
  justify-content: space-between;
}

.navigation-bar > .textbox-icon-container {
  width: 22%;
  height: 50%;
}

.navigation-action {
  display: flex;
  width: 16%;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navigation-action .btn {
  font-size: var(--f-twentys1);
  padding: var(--sp-fractions2);
  text-decoration: none;
}

.navigation-action .btn-icon {
  font-size: var(--f-twentys1);
}
