/* || Rating Input */
.rating-input-container {
  display: flex;
  background-color: var(--clr-white);
  font-size: var(--f-thirtys1);
  padding: var(--sp-tens2);
  border-radius: var(--br-1);
}

.rating-input {
  cursor: pointer;
  color: var(--clr-rating);
}

.rating-input-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* ||Rating Badge */
.showcase-rating-badge {
  position: relative;
}

.rating-badge-container {
  display: flex;
  text-align: left;
  gap: var(--sp-fractions2);
  background-color: var(--clr-white);
  font-size: var(--f-tens4);
  font-weight: 700;
  padding: var(--sp-fractions2);
  border-radius: var(--br-1);
}

.rating-badge-icon {
  color: var(--clr-rating);
}
