/* || Rating Input */
.rating-input-container {
  display: flex;
  background-color: var(--white);
  font-size: 2rem;
  padding: 1rem;
}

.rating-input {
  cursor: pointer;
  color: var(--rating);
}

.rating-input-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* ||Rating Badge */
.rating-badge-container {
  display: flex;
  text-align: left;
  gap: 4px;
  background-color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  padding: 4px;
  border-radius: 2px;
}

.rating-badge-icon {
  color: var(--rating);
}
