.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-tens2);
  border-radius: var(--br-1);
  gap: var(--sp-fourtys);
  font-weight: bold;
  z-index: var(--z-index-toast);
  box-shadow: var(--sp-fractions1) var(--sp-fractions1) var(--sp-fractions2)
    var(--secondary);
}

.toast-btn-close {
  margin-left: auto;
  color: var(--secondary);
}
.toast-btn-close:hover {
  color: var(--secondary);
}

.toast-dark {
  background-color: var(--black);
  color: var(--white);
}

.toast-light {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--secondary);
}
