.toast {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-tens2);
  border-radius: var(--br-1);
  gap: var(--sp-fourtys);
  font-weight: var(--fwt-bold);
  z-index: var(--z-index-toast);
  box-shadow: var(--sp-fractions1) var(--sp-fractions1) var(--sp-fractions2)
    var(--clr-secondary);
}

.toast-btn-close {
  margin-left: auto;
  color: var(--clr-secondary);
}
.toast-btn-close:hover {
  color: var(--clr-secondary);
}

.toast-dark {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.toast-light {
  background-color: var(--clr-white);
  color: var(--clr-black);
  border: 1px solid var(--clr-secondary);
}
