<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link href="/docs/docs.css" rel="stylesheet" type="text/css" />
    <link href="typography.css" rel="stylesheet" type="text/css" />
    <title>Get Started</title>
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <div class="nav-brand-name">
          <a href="/index.html" class="link nav-link">Minnal UI</a>
        </div>
        <ul class="nav-links">
          <li class="list">
            <a href="/docs/docs.html" class="link nav-link">Docs</a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <aside class="aside">
          <ul>
            <li class="list aside-list">
              <a class="link" href="/components/avatar.html">Avatar</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/alert.html">Alert</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/badge.html">Badge</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/button.html">Button</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/card.html">Card</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/image.html">Image</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/input.html">Input</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/typography.html"
                >Text Utilities</a
              >
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/list.html">Lists</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/navigation.html">Navigation</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/modal.html">Modal</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/rating.html">Rating</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/toast.html">Toast</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/grid.html">Grid</a>
            </li>
            <li class="list aside-list">
              <a class="link" href="/components/slider.html">Slider</a>
            </li>
          </ul>
        </aside>
        <main class="main">
          <h1>Typography</h1>
          <div class="inner-container">
            <h2>Headings</h2>
            <div class="showcase-column">
                <h1>h1. Minnal heading</h1>
                <h2>h2. Minnal heading</h2>
                <h3>h3. Minnal heading</h1>
                <h4>h4. Minnal heading</h4>
                <h5>h5. Minnal heading</h5>
                <h6>h6. Minnal heading</h6>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/67h4GUudqrWvRQgNbtXi"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Small Text</h2>
            <div class="showcase-column">
                <p class="text-small">This is a small text</p>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/67h4GUudqrWvRQgNbtXi"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Gray Text</h2>
            <div class="showcase-column">
                <p class="text-gray">This is a gray text</p>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/67h4GUudqrWvRQgNbtXi"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
          <div class="inner-container">
            <h2>Aligned Text</h2>
            <div class="showcase-column">
                <p class="text-left">This is a left aligned text</p>
                <p class="text-center">This is a center aligned text</p>
                <p class="text-right">This is a right aligned text</p>
            </div>
            <iframe
              src="https://carbon.now.sh/embed/67h4GUudqrWvRQgNbtXi"
              style="
                width: 100%;
                height: 100%;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </article>
      </div>
    </div>
  </body>
</html>
