/* || Headings || */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: var(--fwt-bold);
}

.h1,
h1 {
  font-size: var(--f-fourtys);
  line-height: var(--sp-sixtys);
}

.h2,
h2 {
  font-size: var(--f-thirtys2);
  line-height: var(--sp-fourtys);
}

.h3,
h3 {
  font-size: var(--f-thirtys1);
  line-height: var(--sp-fourtys);
}

.h4,
h4 {
  font-size: var(--f-twentys2);
  line-height: var(--sp-fourtys);
}

.h5,
h5 {
  font-size: var(--f-twentys1);
  line-height: var(--sp-thirtys);
}

.h6,
h6 {
  font-size: var(--f-tens4);
  line-height: var(--sp-thirtys);
}

/* || Small Text || */
.text-small {
  font-size: var(--f-tens2);
  line-height: var(--sp-twentys);
}

/* || Gray Text || */
.text-gray {
  color: var(--clr-text-gray);
}

/* || Aligned Text || */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
