@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.container {
  display: flex;
  flex-direction: column;
  font-size: var(--f-twentys1);
  margin: var(--sp-thirtys);
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: var(--clr-black);
}
.link:hover,
.link-active {
  font-weight: var(--fwt-bold);
  transition: font-weight 0.3s;
}

/* ||navigation|| */
.nav {
  display: flex;
  justify-content: space-between;
  padding: var(--sp-thirtys);
  border-bottom: 1px solid var(--clr-doc-border);
}
.nav-brand-name {
  font-weight: var(--fwt-bold);
}
.nav-brand-name-link {
  margin: 0 var(--sp-tens2);
}
.nav-contacts {
  display: flex;
  gap: var(--sp-tens2);
  font-size: var(--f-twentys1);
}
.nav-contact-link {
  color: var(--clr-secondary);
}

/* || content || */
.content {
  display: flex;
  flex: 1;
}

/* || aside || */
.aside {
  flex: 1;
  padding: var(--sp-tens2);
  border-right: 1px solid var(--clr-doc-border);
}
.aside-list {
  margin-top: var(--sp-tens2);
}

/* || main || */
.main {
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: var(--sp-twentys);
  gap: var(--sp-fourtys);
}

.inner-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--sp-tens2);
}

.showcase,
.showcase-column {
  display: flex;
  justify-content: space-around;
  background-color: var(--clr-showcase-bg);
  padding: var(--sp-fourtys);
  border-radius: var(--br-1);
}
.showcase {
  flex-wrap: wrap;
  gap: var(--sp-tens2);
}
.showcase-column {
  flex-direction: column;
  gap: var(--sp-thirtys);
}
