@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

.container {
  display: flex;
  flex-direction: column;
  font-size: var(--f-twentys1);
  margin: 0 var(--sp-twentys);
  height: 100vh;
  font-family: "Lato", sans-serif;
}

.list {
  list-style: none;
}
.link {
  display: block;
  text-decoration: none;
  color: var(--clr-black);
  padding: var(--sp-tens1);
  border-radius: var(--br-3);
  text-align: center;
}
.aside .link:hover,
.aside .link-active {
  background-color: var(--clr-primary-tint);
  transition: background-color 0.3s;
}

/* ||navigation|| */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sp-thirtys);
  border-bottom: 2px solid var(--clr-primary-tint);
}
.nav-brand-name {
  font-weight: var(--fwt-bold);
}
.nav-brand-name .nav-link {
  color: var(--clr-primary);
}
.nav-contacts {
  display: flex;
  gap: var(--sp-tens2);
  font-size: var(--f-twentys1);
}
.nav-contact-link {
  color: var(--clr-primary);
}

/* || content || */
.content {
  display: flex;
  flex: 1;
}

/* || aside || */
.aside {
  flex: 1;
  padding: var(--sp-tens2);
  border-right: 2px solid var(--clr-primary-tint);
}
.aside-list {
  margin-top: var(--sp-tens2);
}
/* || main || */
.main {
  flex: 8;
  display: flex;
  flex-direction: column;
  padding: var(--sp-twentys);
  gap: var(--sp-fourtys);
}

.inner-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--sp-tens2);
}

.showcase,
.showcase-column {
  display: flex;
  justify-content: space-around;
  background-color: var(--clr-showcase-bg);
  padding: var(--sp-fourtys);
  border-radius: var(--br-1);
}
.showcase {
  flex-wrap: wrap;
  gap: var(--sp-tens2);
}
.showcase-column {
  flex-direction: column;
  gap: var(--sp-thirtys);
}
